= link_to 'Welcome', welcome_index_path
.br
= link_to 'oauth_authorized_applications_path', oauth_authorized_applications_path
.br
= link_to 'oauth_applications_path', oauth_applications_path
.br
= link_to 'new_oauth_application_path', new_oauth_application_path

%h1 Home#index
%p Find me in app/views/home/index.html.haml
